<% layout("/layouts/boilerplate") %>

<h3>All Listings</h3>

<% for(let listing of allListings) { %>

<div class="card" style="width: 18rem">
    <img src="<%= listing.image?.url || 'https://images.unsplash.com/photo-1505693416388-ac5ce068fe85' %>" 
    class="card-img-top" alt="listing_image">

    <div class="card-body">
        <p class="card-text"><%= listing.title %></p>
    </div>
</div>

<% } %>

<ul>
<% for(let listing of allListings) { %> 
<li>
<a href="/listings/<%= listing._id %>"><%= listing.title %></a>
</li>
<% } %>
</ul>